[Unit]
Description=Timer to Run Google Drive Sync
Requires=rclone-bisync-google.service

[Timer]
Unit=rclone-bisync-google.service
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
